{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="vapid-key" content="{{ vapid_key }}">
    {% if user.id %}
        <meta name="user_id" content="{{ user.id }}">
    {% endif %}
    <title>Web Push</title>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700" rel="stylesheet">
        <link rel="stylesheet" href="{% static "messaging/style.css" %}">

</head>

<body>

<div>
    <form id="send-push__form">
        <h3 class="header">Send a push notification</h3>
        <p class="error"></p>
        <input type="text" name="head" placeholder="Header: Your favorite airline ?">
        <textarea name="body" id="" cols="30" rows="10" placeholder="Body: Your flight has been cancelled ???"></textarea>
        <button>Send Me</button>
    </form>
</div>
   <script src="{% static 'messaging/js/registerSw.js' %}"></script>
   <script src="{% static 'messaging/js/site.js' %}"></script>

</body>
</html>
